<a href="https://colab.research.google.com/github/JArmandoOlmosR/Curso_Inter_Python/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [3]:
!ls -a

.  ..  .config	sample_data

In [4]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [8]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre} y estudio en {carrera} dentro de la FES ")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es José y estudio en ICO, la mejor dentro de la FES

In [6]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [7]:
suma

8

In [9]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [10]:
mayor_que

True

In [11]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [13]:
y, o

(False, True)

In [15]:
False or (True and False)

False

In [16]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [17]:
parrafo

'Esto es un párrafo\nque abarca varias\nlíneas'

In [18]:
print(parrafo)

Esto es un párrafo
que abarca varias
líneas

In [21]:
def fn_uno():
    print("Hola")

a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7f363919c670>
Hola

In [22]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Armando
Hola Armando!

In [24]:
numero = int(20)
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

20
Introduce tu edad:20
Armando tiene 20 años

In [25]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [26]:
pi * 2.0

6.28318

In [28]:
frutas = ['limon','aguacate', 'fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [29]:
cosas = ['limon',10,3.1416,True, [1,2,3,4], "Hola"]
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'Hola']

#SLICING en PYTHON
[inicio: stop: step]

Es la posibilidad de obtener rebanadas a partir de un tipo de datos lista o tupla, en general de un iterable. Un tipo de dato String es un iterable.

Por defecto:

Inicio = 0

Stop es igual al tamaño de la variable

Step = 1

In [30]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [31]:
rebanada = ejemplo[:9:]
print(rebanada)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [35]:
frutas_dos =('Aguacate', 'Limon', 'Naranja')

print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[0:2:1])
print(frutas_dos[-1])

['limon', 'Piña', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Aguacate', 'Limon')
Naranja

# Diccionarios teoría
1. Conjunto de pares llave valor
2. Agrupados por ' : '
3. Lave de tipo String
4. Valor puede ser de cualquier tipo
5. El selector es de la forma [ ' llave ' ]
6. mutable(sustituir un valor)
7. Se declara entre caracteres ' { ' y ' } '
8. Pares separados por comas '  ,  '

In [40]:
alumno = {'numero_cuenta': 1232434, 'carrera': 'ICO', 'direccion': {'calle': 'rancho seco', 'numero': 23}}
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

23
cho